@page
@model Bloggie.Web.Pages.IndexModel
@{
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Welcome to the English Camp!
            </h1>
            <p class="lead">
                Welcome to the English Camp. Are you ready for an unforgettable adventure of learning,
                laughter, and language? At the English Camp, we're dedicated to providing you with an 
                immersive and enriching English language experience. Our camp is designed to help you 
                improve your English skills while making lifelong memories and new friends from all around the world.
            </p>
        </div>
        
        
        
</div>